services:
  proxy:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: nginx-proxy-manager
    restart: unless-stopped
    network_mode: host
    volumes:
      - data:/data
      - letsencrypt:/etc/letsencrypt
    healthcheck:
      test: ["CMD", "/usr/bin/check-health"]
      interval: 10s
      timeout: 3s

  ddns:
    image: favonia/cloudflare-ddns:latest
    container_name: cloudflare-ddns
    # network_mode: host # This bypasses network isolation and makes IPv6 easier (optional; see below)
    restart: unless-stopped
    user: "1000:1000" # Run the updater with specific user and group IDs (in that order).
    read_only: true # Make the container filesystem read-only (optional but recommended)
    cap_drop: [all] # Drop all Linux capabilities (optional but recommended)
    security_opt: [no-new-privileges:true] # Another protection to restrict superuser privileges (optional but recommended)
    environment:
      - CLOUDFLARE_API_TOKEN=KEY
      - DOMAINS=example.com,jellyfin.example.com
      - PROXIED=true
      - IP6_PROVIDER=none

  netbird:
    container_name: netbird
    hostname: proxy-stack
    cap_add:
        - NET_ADMIN
        - SYS_ADMIN
        - SYS_RESOURCE
    network_mode: host
    environment:
        - NB_SETUP_KEY=key
    volumes:
        - netbird-client:/var/lib/netbird
    image: netbirdio/netbird:latest

# For testing the proxy
  helloworld:
    image: 'karthequian/helloworld:latest'
    container_name: helloworld
    restart: unless-stopped
    ports:
      - 8888:80/tcp
      
volumes:
  data:
  letsencrypt:
  netbird-client:
      name: netbird-client
